<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do List</title>
  </head>
  <body >
    <center>
      <h1 >It's a <%=anyDay %> </h1>
      </center>
<ul>
  <!-- <li>Buy Food</li>
  <li>Cook Food</li>
  <li>Eat Food</li> -->

  <% for(var i=0;i<newListItems.length;i++) { %>
    <li><%=  newListItems[i]  %></li>
  <% } %>



</ul>
<form class="" action="/" method="post">
  <input type="text" name="newItem" >
  <button type="submit" name="button">Add</button>

</form>


  </body>
</html>
