<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <div class="box" id="heading">
    <h1>It's a <%=ListTitle %> </h1>
  </div>
  <div class="box">
    <% for(var i=0;i<newListItems.length;i++) { %>
    <div class="item">
      <input type="checkbox" >
      <p><%=  newListItems[i]  %></p>
    </div>
    <% } %>


    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value=<%= ListTitle %>>+</button>

    </form>
  </div>

</body>

</html>
