<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To do List</title>
</head>

<body>
  <centre>
    <h1>It's a <centre>
        <%=anyDay %>
      </centre>
    </h1>
  </centre>


</body>

</html>
