<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do List</title>
  </head>
  <body>
    <center>
      <h1 style="color:red">It's a <%=anyDay %> </h1>

    </center>

  </body>
</html>
